body {
    margin: 0;
    padding: 0;
}

.toggle_row {
    margin-bottom: .5em;
}

.printBlock {
    margin: 0 0 30px;
    padding: 0;
    font-size: 0;
}

.printBlock img {
    margin: 0;
    page-break-inside: avoid;
    /*width: 222px;*/
    width: 63mm;
    height: 88mm;
}

#options {
    margin: 10px;
}

#options input[type=button] {
    font-size: 1.5em;
}

#options h2 {
    margin-top: 0;
}

.type_selected {
    font-weight: bold;
}

.select_cards_container {
    display: flex;
}

.select_cards {
    flex: 1;
    margin: 5px;
}

.card {
    display: inline-block;
    font-family: serif;
    font-size: 3.5mm;
    margin: 0;
    padding: 5.5mm;
    page-break-inside: avoid;
    position: relative;
    vertical-align: top;

    box-sizing: border-box;
    width: 70mm;
    height: 95mm;
    border: 2px solid #eee;
    margin: 1px;
    /*width: 63mm;
    height: 88mm;
    border: 3.5mm double black;*/
}
.card_inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card_proxy {
    cursor: pointer;
}
.card_no_print {
    opacity: 0.25;
}

.card_cost {
    font-size: 3.5mm;
    margin-bottom: 1mm;
    text-align: right;
}

.card_name {
    font-size: 2em;
    margin-bottom: 2mm;
}

.card_type {
    margin-bottom: 2mm;
}

.card_text {
    overflow: hidden;
    flex: 1;
}

.card_bottom {
    display: flex;
    margin-top: 2mm;
    align-items: flex-end;
}

.card_pt {
    border: 1px solid #000;
    font-size: 5mm;
    padding: 1mm 2mm;
    margin-left: 2mm;
}

.card_footer {
    flex: 1;
    font-size: 2.5mm;
}

@media print {
    @page {
        /* see: https://www.w3.org/TR/1998/REC-CSS2-19980512/page.html#page-margins */
        /* auto and 10mm 10mm works for 9 images per page in portrait A4, but not letter */
        /* auto and 5mm 10mm works for 9 images per page in portrait letter, but may cut off in some printers. */
        size: auto;
        margin: 5mm 10mm;
        /* we can guarantee 8 images per page by setting size: landscape and no margin */
    }


    hr,
    #options {
        display: none;
    }

    .card_no_print {
        display: none !important;
    }
}

@media only screen and (max-width: 480px) {
    .select_cards {
        float: none;
        width: 100%;
    }

    .select_card_div {
        margin: 5px 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}