.card.colorless .card_name,.card.c .card_name {
    background-color: #ccc;
}

.card.b .card_name {
    background-color: #ddbbff;
}

.card.u .card_name {
    background-color: lightblue;
}

.card.r .card_name {
    background-color: pink;
}

.card.g .card_name {
    background-color: lightgreen;
}

.card.w .card_name {
    background-color: #ffffaa;
}

.card.rb .card_name {
    background-image: linear-gradient(to right, pink, #777);
}

.card.wrgub .card_name {
    background-image: linear-gradient(to right, white, pink, lightgreen, lightblue, #777);
}

.card.rub .card_name {
    background-image: linear-gradient(to right, pink, lightblue, #777);
}

.card.ub .card_name {
    background-image: linear-gradient(to right, lightblue, #777);
}

.card.ru .card_name {
    background-image: linear-gradient(to right, pink, lightblue);
}